#time {
    font-size: 14px;
}

#time2 {
    font-size: 14px;
}

#menu {
    font-size: 14px;
    overflow: hidden;
    text-decoration: none;
}

#menu a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}

.hidden {
    opacity: 0%
}
.hidden:focus {
    opacity: 100%;
}